.form input{
    padding: 1.25rem;
    display: block;
    width: 18.75rem;
    margin: 1rem auto;
}

.form input[type="text"], input[type="password"]{
  border-radius: 0.5rem;
  border: 1px solid #eee;

}

.form input[type="submit"]:hover{
background: #6a2bed;
}